<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">

  <section *ngFor="let item of phone; let i=index">

    <input type="tel" matInput placeholder="555-555-1234" name="phoneNumber{{i}}" ngModel>&nbsp;

    <br><br>

    <div *ngIf="i>0">
    <button class="btn btn-danger" (click)="removeNumber(i)">Remove Phone Number</button><br><br>
   </div>

</section>
<button class="btn btn-success" (click)="addNumber()">Add Another Phone Number</button><br><br>
  <button class="btn btn-success">Submit</button>


</form>

